/.bundle

/tmp

/ftp_files

.DS_Store
*.o
*.a
*.s
*.ko
*.mod.c
*.bundle
*.swp
*.swo
*.swn
.*.rb.bwk
.idea

doc/api
config/database.yml
config/secrets.yml
config/application.yml
config/facebooker.yml
log/
tmp/

public/sitemap.xml
public/assets
public/system
.ruby-gemset
